/* Common CSS styles for the entire application */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --base-clr: #f2f4f4;
  --line-clr: #eaecee;
  --hover-clr: white;
  --text-clr: #17202a;
  --accent-clr: #5e63ff;
  --light-clr: #c8caff;
  --secondary-text-clr: #566573;
  --test-clr: #a9cce3;

  /* Button colors */
  --delete-btn-clr: #e74c3c;
  --delete-btn-hover-clr: #c0392b;
  --update-btn-clr: #3498db;
  --update-btn-hover-clr: #2980b9;
  --create-btn-clr: rgb(58, 150, 0);
  --create-btn-hover-clr: rgb(66, 172, 0);
  --back-btn-clr: gray;
  --back-btn-hover-clr: lightgray;
  --finish-btn-clr: #4edd85;
  --password-btn-clr: #27ae60;
  --password-btn-hover-clr: #219653;
  --view-btn-clr: #9b59b6;
  --view-btn-hover-clr: #8e44ad;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}

a {
  text-decoration: none;
}

/* Common layout elements */
.main-content {
  flex-grow: 1;
  background-color: var(--hover-clr);
  padding: 2rem; /* Reducir padding */
  border-radius: 0.5rem;
  margin: 2rem;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 20px;
}

main {
  display: flex;
  gap: 10px; /* Reducir espacio entre elementos */
  align-items: flex-start;
  margin-left: 20px;
}

/* Common headings */
h1 {
  color: black;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

/* Common button styles */
button {
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.delete-btn,
.update-btn,
.create-btn,
.finish-btn,
.back-btn,
.password-btn,
.view-btn {
  flex: 1;
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 0.9rem;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-btn {
  background-color: var(--delete-btn-clr);
}

.delete-btn:hover {
  background-color: var(--delete-btn-hover-clr);
  transform: scale(1.05);
}

.update-btn {
  background-color: var(--update-btn-clr);
}

.update-btn:hover {
  background-color: var(--update-btn-hover-clr);
  transform: scale(1.05);
}

.create-btn {
  background-color: var(--create-btn-clr);
}

.create-btn:hover {
  background-color: var(--create-btn-hover-clr);
}

.back-btn {
  background-color: var(--back-btn-clr);
}

.back-btn:hover {
  background-color: var(--back-btn-hover-clr);
}

.finish-btn {
  background-color: var(--finish-btn-clr);
}

.finish-btn:hover {
  background-color: var(--update-btn-hover-clr);
  transform: scale(1.05);
}

.password-btn {
  background-color: var(--password-btn-clr);
}

.password-btn:hover {
  background-color: var(--password-btn-hover-clr);
  transform: scale(1.05);
}

.view-btn {
  background-color: var(--view-btn-clr);
}

.view-btn:hover {
  background-color: var(--view-btn-hover-clr);
  transform: scale(1.05);
}

/* Common action wrapper */
.action-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }

  main {
    padding: 2em 1em 60px 1em;
  }

  h1 {
    font-size: 1.5em;
    padding-left: 0.50vw;
  }

  .container {
    border: none;
    padding: 0;
  }
}
